.card-after {
  background-color: var(--color-bg-quartiary);
  border-radius: 16px;
  max-width: 1251px;
  height: 334px;
  padding: 43px 35px 44px 38px;
  margin: 54px 99px 126px 90px;
  display: flex;
  justify-content: space-around;
}

.img-card-after img {
  width: 247px;
  margin-right: 29px;
}

.text-card-after {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-input-border);
  width: 902px;
  height: 247px;
  padding: 0 14px 14px 14px;
  border-radius: 6px;
}

.text-card-after h4 {
  color: var(--color-bg-secondary);
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0 14px 0;
}

.output-text {
  color: var(--color-font-text-after);
  font-size: 16px;
  max-width: 872px;
  height: 40px;
  padding-left: 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  font-weight: 700;
}
