
.card {
    background-color: var(--color-bg-tertiary);
    margin-top: 54px;
    margin-right: 99px;
    height: 270px;
    width: 1,251px;
    border-radius: 16px;
    border: none;
    padding: 54px 31px;
    display: flex;
    flex-direction: column;
}

.text-card {
    color: var(--color-font-quartiary);
    font-weight: 500;
    font-size: 38px;
}

input {
    height: 40px;
    width: 298px;
    margin-top: 12px;
    margin-bottom: 24px;
    padding-left: 17px;
    color: var(--color-font-placeholder);
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
}

input::placeholder {
    color: var(--color-font-placeholder);
}

.text-not-found {
    font-size: 38px;
    font-weight: 500;
    margin-top: 64px;
}