
.card {
    background-color: var(--color-bg-tertiary);
    border: none;
    border-radius: 16px;
    max-width: 1251px;
    height: 270px;
    padding: 54px 0 0 31px;
    display: flex;
    margin: 54px 99px 0 90px;
    flex-direction: column;
}

.text-card {
    color: var(--color-font-quartiary);
    font-weight: 500;
    font-size: 38px;
}

input {
    height: 40px;
    width: 298px;
    margin-top: 12px;
    margin-bottom: 24px;
    padding-left: 17px;
    color: var(--color-font-placeholder);
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
}

input::placeholder {
    color: var(--color-font-placeholder);
}
