@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #1890ff;
  --color-bg-tertiary: #e6f7ff;
  --color-bg-quartiary: #f5f5f5;

  --color-font-primary: #fff;
  --color-font-secondary: #7e7e7e;
  --color-font-tertiary: #000;
  --color-font-quartiary: #262626;
  --color-font-placeholder: #bfbfbf;
  --color-font-text-after: #737373;

  --color-input-border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
